@media only screen and (max-width: 1118px){
	.footer{
		padding: 0 5%;
	}	
}
@media only screen and (max-width: 847px){
	.f2{
		display: block;
		text-align: center;
	}
	.f2-1, .f2-2{
		width: 100%;
	}
	.f2-2 p{
		float: none;
	}
}
@media only screen and (max-width: 680px){
	.h2{
		font-size: 20px;
	}
	.showsearch{
		font-size: 13px;
	}
}