html {
	scroll-behavior: smooth;
	height: 100%;
}
body{
	padding: 0px;
	margin: 0px;
	height: 100%;
}
*{
	box-sizing: border-box;
	font-family: 'League Spartan', arial, helvetica, sans-serif;
	transition: 0.2s !important;
}
a{
	text-decoration: none;
	color: black;
}
img{
	vertical-align: middle;
}
/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
	box-shadow: inset 0 0 5px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: orange;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: yellow;
}
/*header*/
.header{
	width: 100%;
	height: 80px;
	background-color: #1d355e;
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*fixed header*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.h1{
	width: 90%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.h1-a1{
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.h1-a1-img1{
	height: 90%;
}
.h2{
	width: 10%;
	height: 100%;
	background-color: orange;
	font-size: 30px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.h2:hover{
	cursor: pointer;
	background-color: yellow;
	color: black;
}
.fa-search-minus{
	display: none;
}
.fa-search-minusshow{
	display: block;
}
.fa-search-plusoff{
	display: none;
}
.showsearch{
	height: 0px;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	display: flex;
}
.showsearchshow{
	height: 80px;
	visibility: visible;
	opacity: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ss-a1{
	width: 25%;
	height: 100%;
	background-color: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
}
.ss-a1:hover{
	color: black;
	background-color: yellow;
}
/*main*/
.m1{
	padding: 50px 20%;
}
.m1-h1{
	font-size: 45px;
	color: #1d355e;
}
.m1-p1{
	color: grey;
	font-weight: bold;
}
.m2{
	width: 100%;
	display: flex;
	position: relative;
}
.m2-1{
	width: 33.33%;
	height: 500px;
	position: relative;
}
.m2-1-1{
	text-align: center;
	color: white;
	padding: 10px 0;
	position: absolute;
	bottom: 10%;
	left: 5%;
	right: 5%;
	background-color: rgba(40, 141, 193, 0.8);
}
.m2-1-1 a{
	color: white;
}
.m2-1-1 a:hover{
	color: orange;
}
.m2-1-1-h1{
	font-size: 30px;
}
.m2-1-1-p1{
	font-size: 13px;
}
.m2-2{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: orange;
	color: white;
	font-weight: bold;
	padding: 10px 100px;
	border-radius: 10px;
	font-size: 15px;
}
.m2-2:hover{
	background-color: yellow;
	color: black;
}
.m3{
	padding: 0 15%;
	margin: 60px 0;
}
.m3-1{
	border: grey 1px solid;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	margin: 20px 0;
	padding-right: 5px;
}
.m3-1 input{
	border: none;
	width: 99%;
	height: 100%;
	margin: 0 5px;
	outline: none;
	font-size: 16px;
}
.m3-2{
	margin: 0 0 20px 0;
}
.m3-2 textarea{
	min-width: 100%;
	min-height: 100px;
	border-radius: 5px;
	border-color: grey;
	max-width: 100%;
	padding: 7px;
	font-size: 17px;
}
.m3-3{
	width: 100%;
	border: orange 1px solid;
	border-radius: 5px;
	background-color: orange;
	height: 40px;	
}
.m3-3 input{
	border: none;
	background-color: orange;
	color: white;
	width: 100%;
	height: 100%;
	font-weight: bold;
}
.m3-3:hover{
	border-color: yellow;
}
.m3-3 input:hover{
	background-color: yellow;
	border-color: yellow;
	color: black;
	cursor: pointer;
}
textarea{
	outline: none;
}
/*footer*/
.footer{
	width: 100%;
	background-color: #161616;
	height: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 16%;
}
.f1{
	width: 100%;
	font-size: 18px;
}
.f1-p1{
	color: white;
}
.f1-p2{
	color: white;
	margin: 22px 0;
}
.f1-p3 a{
	color: #a6e1fd;
}
.f2{
	width: 100%;
	display: flex;
}
.f2 p{
	color: #a9a9a9;
}
.f2-1{
	width: 50%;
}
.f2-2{
	width: 50%;
}
.f2-2 p{
	float: right;
}
.f2-2 a{
	color: #a6e1fd;
}
/*uptotop button*/
.scrollToTopBtn {
	background-color: rgb(101, 155, 181);
	border: none;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	font-size: 16px;
	line-height: 48px;
	width: 48px;
	/* place it at the bottom right corner */
	position: fixed;
	bottom: 60px;
	right: 30px;
	/* keep it at the top of everything else */
	z-index: 100;
	/* hide with opacity */
	opacity: 0;
	/* also add a translate effect */
	transform: translateY(100px);
	/* and a transition */
	transition: all .5s ease;
}
.showBtn {
	opacity: 1;
	transform: translateY(0)
}
/*loading*/
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(6px);
}
.loader-wrapper img{
	width: 100px;
	height: auto;
}